:root {
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Ajusta la altura del fondo al tamaño de la ventana */
  font-family: Arial, Helvetica, sans-serif;
}

.whatsapp-icon,
.phone-icon,
.linkedin-icon {
  position: fixed;
  z-index: 1000; /* Asegura que los iconos estén por encima del contenido */
}
.linkedin-icon {
  bottom: 60px; /* Ajusta la distancia desde abajo */
  right: 40px; /* Ajusta la distancia desde la derecha */
}
.whatsapp-icon {
  bottom: 140px; /* Ajusta la distancia desde abajo */
  right: 40px; /* Ajusta la distancia desde la derecha */
}

.phone-icon {
  bottom: 220px; /* Ajusta la distancia desde abajo */
  right: 40px; /* Ajusta la distancia desde la derecha */
}

.whatsapp-icon img,
.phone-icon img,
.linkedin-icon img {
  width: 45px; /* Ajusta el tamaño de los iconos según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.full-container {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgb(13, 152, 156),
    rgb(0, 0, 0)
  );
  /* Fondo con degradado de verde marino a negro */
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 40%;
  margin-left: 10%;
}

h1 {
  margin: 0;
  letter-spacing: -2px;
  color: white;
}

p {
  font-size: 0.9rem;
  color: white;
  line-height: 1.3rem;
  position: relative;
  top: 0.8rem;
  opacity: 0;
  animation: 0.5s swift-up ease-out forwards, 0.5s fade-in ease-out forwards;
  animation-delay: 0.8s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 0.8rem;
  animation: 0.3s swift-up ease-in-out forwards;
}

i {
  font-style: normal;
  position: relative;
  top: 2rem;
  animation: 0.5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
  to {
    top: 0rem;
  }
}

span:nth-of-type(1) i {
  animation-delay: 0s;
}

span:nth-of-type(2) i {
  animation-delay: 0.1s;
}

span:nth-of-type(3) i {
  animation-delay: 0.2s;
}

span:nth-of-type(4) i {
  animation-delay: 0.3s;
}

span:nth-of-type(5) i {
  animation-delay: 0.4s;
}

span:nth-of-type(6) i {
  animation-delay: 0.5s;
}
span:nth-of-type(7) i {
  animation-delay: 0.6s;
}

span:nth-of-type(1) {
  animation-delay: 0s;
}

span:nth-of-type(2) {
  animation-delay: 0.1s;
}

span:nth-of-type(3) {
  animation-delay: 0.2s;
}

span:nth-of-type(4) {
  animation-delay: 0.3s;
}

span:nth-of-type(5) {
  animation-delay: 0.4s;
}

span:nth-of-type(6) {
  animation-delay: 0.5s;
}
span:nth-of-type(7) {
  animation-delay: 0.6s;
}
/* Estilos para el botón */
.email-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 45%;
  color: white;
  background-color: rgb(170, 9, 76);
  /* Color de fondo */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

/* Estilos cuando se pasa el ratón sobre el botón */
.email-button:hover,
.container-project .card .content a:hover {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(13, 152, 156));
}

/* Estilos cuando se hace clic en el botón */
.email-button:active {
  background-color: rgb(
    170,
    7,
    75
  ); /* Cambia el color de fondo al hacer clic */
}
.container-foto {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
}

.container-foto img {
  width: 70%;
  z-index: 3;
}
@media (max-width: 1156px) {
  .whatsapp-icon img,
  .phone-icon img,
  .linkedin-icon img {
    width: 40px;
  }
  .linkedin-icon {
    bottom: 40px;
  }
  .whatsapp-icon {
    bottom: 100px;
  }

  .phone-icon {
    bottom: 160px;
  }
}

/* Mis proyectos*/

.conteiner-projectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgb(13, 152, 156),
    rgb(0, 0, 0)
  );
  /* Fondo con degradado de verde marino a negro */
  min-height: 100vh;
}
.titulo-proyectos {
  color: white;
  font-size: 50px;
  margin-bottom: 3%;
  font-weight: bold;
}
.container-project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.container-project .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: rgb(238, 236, 229);
  border-radius: 20px;
  transition: 0.53s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.336);
  font-weight: 200;
}

.container-project .card:hover {
  height: 400px;
}

.container-project .card .img-box {
  position: absolute;
  top: 20px;
  width: 340px;
  height: 240px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.53s;
}

.container-project .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
}

.container-project .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-project .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 46px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.53s;
}

.container-project .card:hover .content {
  top: 100px;
  height: 250px;
}

.container-project .card .content h2 {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(4, 123, 128);
}

.container-project .card .content p {
  color: #333;
  font-size: 14px;
}

.container-project .card .content a {
  position: relative;
  top: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
  background: rgb(170, 7, 75);
  color: white;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra al botón */
}

/* Contact*/
.container-contact {
  font-family: Arial, Helvetica, sans-serif;

  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgb(13, 152, 156),
    rgb(0, 0, 0)
  );
  /* Fondo con degradado de verde marino a negro */
  min-height: 100vh;
  font-weight: 300;
}
.descripcion-contact {
  max-width: 60%;
  text-align: start;
}
.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
  margin: 5% auto;
}
.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
  .text {
    opacity: 1;
  }
  & > div {
    opacity: 1;
    transition-delay: 0s;
  }
  .explainer {
    opacity: 0;
  }
}

.left,
.center,
.right,
.lefter,
.righter {
  width: 250px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid rgb(2, 81, 83);
  box-shadow: 0 0 20px 5px rgba(2, 33, 36, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(4, 58, 71);
  cursor: pointer;
  background-blend-mode: color-burn;

  &:hover {
    box-shadow: 0 0 30px 10px rgb(245, 243, 237);
    background-color: rgb(14, 140, 156);
  }
}
.text {
  transform: translateY(60px);

  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0;
  text-align: center;
  position: absolute;
  will-change: transform;
  color: white;
  text-shadow: 0 0 5px rgba(2, 39, 44, 0.6);
}
.lefter {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}
.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}
.center {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}
.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}
.righter {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}
.explainer {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(
    circle at center top,
    rgb(13, 152, 156),
    rgb(0, 0, 0)
  );
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(4, 61, 68, 0.8);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1156px) {
  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 150px;
    height: 100px;
  }
  .explainer {
    font-size: 1rem;
  }
}
@media (max-width: 961px) {
  p,
  .text {
    font-size: 0.8rem;
  }
  h1,
  .titulo-proyectos {
    font-size: 36px;
  }
}
@media (max-width: 830px) {
  .container-foto,
  .container-foto img {
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 3;
    width: 70%;
  }
  #container {
    z-index: 4;
  }
  .full-container {
    position: relative;
  }
  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 120px;
    height: 80px;
  }
  .explainer {
    font-size: 0.7rem;
  }

  p,
  .text {
    font-size: 0.6rem;
  }
}
@media (max-width: 630px) {
  .container-foto,
  .container-foto img {
    display: none;
  }
  .button {
    font-size: 18px;
  }
  .titulo-proyectos {
    margin: 10% auto;
    text-align: center;
    font-size: 30px;
  }
  .all {
    margin-bottom: 15%;
  }
  #container {
    margin-left: 20%;
  }
  .left,
  .center,
  .right,
  .lefter,
  .righter {
    width: 80px;
    height: 50px;
  }
  .explainer {
    font-size: 0.5rem;
  }
  .linkedin-icon,
  .phone-icon,
  .whatsapp-icon {
    right: 30px;
  }
}

@media (max-width: 515px) {
  .all {
    display: none;
  }
  .full-container {
    margin-right: 0;
  }
}
@media (max-width: 420px) {
  .container-project .card {
    max-width: 100%;

    border-radius: 15px;
  }

  .container-project .card .img-box {
    width: 90%;
    border-radius: 10px;
  }

  .container-project .card .content p {
    font-size: 0.55rem;
  }

  .container-project .card .content a {
    font-size: 0.6rem;
  }

  .email-button {
    font-size: 18px;
  }
  .linkedin-icon img,
  .phone-icon img,
  .whatsapp-icon img {
    width: 40px;
  }
}
@media (max-width: 354px) {
  .email-button {
    font-size: 15px;
    margin-top: 10%;
  }
  .linkedin-icon,
  .phone-icon,
  .whatsapp-icon {
    right: 30px;
  }
  .container-project .card .content a {
    font-size: 0.5rem;
  }
  .container-project {
    max-width: 90%;
    padding: 0;
  }
}
